body{
    background-image: url("../Images/main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

fieldset {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

input[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

select option {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

